body {
  align-items: center;
  justify-content: center;
}

.slider {
  /* margin-top: 5vh; */
  /* height: 20vh; */
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slide-track {
  display: flex;
  /* width: calc(600px * 10); */
  animation: scroll 60s linear infinite;
  color: black;
  gap: 30px;
}

/* .slide {
  height: 100px;
} */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-250px * 7)
    ); /* Adjust this based on the number of logos */
  }
}

.slider:hover .slide-track {
  animation-play-state: paused;
}
