.contact-us-container {
  display: flex;
  justify-content: space-between;
  background-color: #000; /* Black background */
  width: 100%;
}

.home-contact-header {
  position: relative;
  width: 100%;
}

.home-contact-header h2 {
  font-size: 48px;
  font-weight: bold;
  margin-block-end: 0;
  margin-block-start: 0;
}

.contact-form {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.contact-form h2 {
  color: #fff; /* White text for header */
  font-size: 20px;
  margin-bottom: 20px;
}

.contact-input,
.contact-textarea {
  background-color: #333; /* Dark gray background for inputs */
  color: #fff; /* White text */
  border: none;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 20px;
  height: 35px;
}

.contact-textarea {
  height: 160px; /* Height for the textarea */
  font-size: 20px;
}

.contact-btn {
  color: #fff; /* White text */
  border: none;
  padding: 10px;
  font-size: 25px;
  max-width: 20%;
  border-radius: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.map-container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-image {
  width: 100%; /* Full width for the image */
  height: auto;
  object-fit: cover;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .home-contact-header h2 {
    font-size: 32px; /* Decreased font size for header */
    text-align: center; /* Center align header text */
  }

  .contact-us-container {
    flex-direction: column; /* Stack form and map vertically */
    align-items: center; /* Center content horizontally */
  }

  .contact-form {
    width: 90%; /* Full width on mobile */
    align-items: center; /* Center form fields */
  }

  .contact-input,
  .contact-textarea {
    width: 100%; /* Full width for input fields */
    font-size: 18px; /* Smaller font for mobile */
  }

  .contact-btn {
    max-width: 50%; /* Full width for button */
    width: 50%;
    font-size: 20px; /* Adjust button font size */
  }

  .map-container {
    width: 95%; /* Full width for map */
    margin-top: 20px;
    height: 30vh;
  }

  .status-message {
    font-size: 16px; /* Smaller status message font size */
    text-align: center;
  }
}
