.footer-container {
  position: relative;
  bottom: 0;
  width: calc(100% - 40px);
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: calc(100% - 40px); /* Optional padding */
  margin: 0 auto;
}

.footer-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-right: 20vh;
  margin-left: 2.5vh;
}

.footer-nav h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.nav-links li {
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 0.9rem;
}

.footer-contact .contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-icon {
  margin-right: 10px;
  font-size: 1rem;
}

.footer-social .social-icons {
  display: flex;
  gap: 15px;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.legal-links {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.footer-bottom {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 20px;
  color: #999;
}
