.imageSlider {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  max-width: 100%;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.imageSlider:hover {
  filter: grayscale(0%);
}

.location-text {
  z-index: 101;
}
:root {
  --body-color: #000;
}

.swiper-container {
  max-width: 100vw;
  margin-inline: auto;
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  background: var(--body-color);
}

.curved-swiper {
  position: relative;
  width: calc(100vw - 18px);
  margin-inline: auto;
}

.curved-swiper::before {
  content: '';
  position: absolute;
  top: -50px;
  left: -10%;
  width: 120%;
  height: 100px;
  background: var(--body-color);
  border-radius: 100%;
  z-index: 100;
}

.curved-swiper::after {
  content: '';
  position: absolute;
  bottom: -50px;
  left: -10%;
  width: 120%;
  height: 100px;
  background: var(--body-color);
  border-radius: 100%;
  z-index: 100;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .swiper-container {
    height: 50vh; /* Adjust height for mobile view */
  }

  .curved-swiper {
    width: calc(100vw - 20px); /* Slight adjustment for mobile */
  }

  .curved-swiper::before {
    top: -25px; /* Reduce the height offset for mobile */
    height: 50px; /* Reduce height for the curve */
    left: -5%; /* Adjust width offset */
    width: 110%; /* Slightly smaller width */
  }

  .curved-swiper::after {
    bottom: -25px; /* Reduce the height offset for mobile */
    height: 50px; /* Reduce height for the curve */
    left: -5%; /* Adjust width offset */
    width: 110%; /* Slightly smaller width */
  }

  .imageSlider {
    aspect-ratio: 16 / 9; /* Maintain the aspect ratio */
    object-fit: cover; /* Ensure proper fitting */
    max-width: 100%;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    height: 80%; /* Adjust height for mobile view */
  }

  /* .swiper-button-prev,
  .swiper-button-next {
    display: none;
  } */

  .loading,
  .error {
    font-size: 16px; /* Adjust font size for messages */
    text-align: center;
    margin: auto;
  }
}
