/* Importing Raleway font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  font-family: 'Raleway', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Adding Raleway-specific class styles */
.raleway-bold {
  font-family: 'Raleway', serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Example weight */
  font-style: normal;
}

.raleway-light {
  font-family: 'Raleway', serif;
  font-optical-sizing: auto;
  font-weight: 300; /* Example weight */
  font-style: normal;
}

@font-face {
  font-family: 'Chesna ExtraBold';
  src: url('../public/fonts/Fontspring-DEMO-chesnagrotesk-black.otf')
    format('woff');
  font-weight: 1000;
  font-style: normal;
}

@font-face {
  font-family: 'Chesna Bold';
  src: url('../public/fonts/Fontspring-DEMO-chesnagrotesk-black.otf')
    format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Chesna Light';
  src: url('../public/fonts/chesnagrotesk-medium.otf') format('woff2');
  font-weight: 800;
  font-style: normal;
}

/* * {
  cursor: none !important;
} */

/* For Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Background of the scrollbar track */
  border-radius: 6px; /* Rounded edges for track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 6px; /* Rounded edges for thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb hover color */
}
